.taulukko {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);    
  gap: 5px;                                
  background-color: black;                 
  width: 300px;                            
  margin: 20px auto;                       
}
.ruutu {
  background-color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
}
/* 2. msg tyyli */
#uusipelibtn {
  padding: 16px;
  font-size: 20px;
  background: black;
  color: white;
  border-radius: 16px;
  border: none;
}
#msg{
  font-size: 64px;
  text-align: center;
}
.msg-container{
  height: 240px;
}
.hide{
  display: none;
}
.nimet{
  text-align: center;
}