#wrapper{
    width:100%;
    overflow:auto;
    position: absolute;
}
#wrapper div{
    width:50%;  
    float:left;
}

#kuva{
    float:left;
}
Body{
    background-color: gainsboro;
    
}
.grid{
    background-color:white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}