#wrapper{
    border: 1px solid blue;
    width:100%;
    overflow:auto;
}
#wrapper div{
    width:50%;  
    float:left;
}
#tiedot{
    float:right;
    
}
#kuva{
    float:left;
}
Body{
    background-color: gainsboro;
}
.form{
    column-count: 2;
    column-gap: 20px;
   background-color:white;
}
